page-login {

    #form{
        margin: 30px 15px;
        text-align: center;

        input{
            color: map-get($colors, primary);
        }

        button{
            margin: 15px
        }

        .item-md {
            padding-left: 0;
        }
    }

    #signup{
        position:absolute;
        bottom: 10px;
        margin: 10px;
        color: #888
    }

    .rememberPassword{
        color:color($colors, primary);
        text-align:center;
    }

}
